<body>


  <h1 class="text-center" style="color:white;  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 1cm; font-weight: bold;">
    Пријава На Систем</h1>

  <div class="content">
 
    <div class="image-box">
     <img src="./assets/img/avio-pejzaz.jpg" alt="">
    </div>

   
    
    <!--<div class="naslov">
      <div class="name" p> Пријава на Систем <p></div>
      </div>-->
      <div class="buttons"></div>
      

      <button class="dugme" (click)="login()">
        Пријава
      </button>

      

    
   

    <div class="details">
       <P>  </P>
       <P>  </P>
       <P>  </P>
      <div class="job">Корисничко Име:   <input  type="text" class="form-control"  [placeholder]="placeholder"  [(ngModel)]="username" ></div>
      <div class="job">Лозинка:   <input  type="password" class="form-control"  [placeholder]="placeholder" [(ngModel)]="password" ></div>
    </div>

      
     
 

    

  </div>




</body>