
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>FORMA ZA REGISTRACIJU</title>
    <meta name = "viewport" content="width=device-width,
    inital-scale=1.0"/>
</head>



   <body>

    <h1 class="text-center" style="color:white;  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 1cm; font-weight: bold;">
        Провера Исправности Авиона за Лет</h1>

        <div class="container">
       <div class="outer">
         <div class="content">
          <form >  
                <label for="firstName" class="podnaslov1">Подаци о Авиону</label>
                <div >
                    <img class = "image-box2" alt="grb"  src="./assets/img/srpski_tocak.png" height=170% > 
                  </div>
                <div class="okvir2">
                    <div class="details">
                        <div class="job">ИД Авиона:  {{flyTerm.airplane.id}} </div>
                        <p>-----------------</p>
                        <div class="job">Регистарска Ознака:  {{flyTerm.airplane.registrationMark}} </div>
                        <p>-----------------</p>
                        <div class="job">Назив Авиона:  {{flyTerm.airplane.airplane_name}}</div>
                        <p>-----------------</p>
                        <div class="job">Тип Авиона: {{flyTerm.airplane.airplaneType}}</div>
                        <p>-----------------</p>
                        <div class="job">Број Седишта: {{flyTerm.airplane.seat_number}}</div>
                        <p>-----------------</p>
                    </div>
                  
                    <div class = "details2">
                      <div class="job">Способан За Лет: {{flyTerm.airplane.enabled}}</div>
                      <p>-------------------</p>
                      
                      <div class="job">Тип Ракета: {{flyTerm.airplane.weaponSystem.rocket_type}}</div>
                      <p>-------------------</p>
                      <div class="job">Број Ракета: {{flyTerm.airplane.weaponSystem.number_of_rockets}}</div>
                      <p>-------------------</p>
                      <div class="job">Ракетни Радиус:  {{flyTerm.airplane.rocket_radius}}</div>
                      <p>-------------------</p>
                      <div class="job">Тактички Радиус:   {{flyTerm.airplane.tactical_radius}}</div>
                      
                     </div>
                     
                   </div>

                  
                 
              </form>

              <label for="firstName" class="podnaslov2">Попуњава Механичар</label>
  
    <div class="pitanja">
    <div class="row1">
    <div *ngIf="mustfill"><p style="text-align:center"><label><font size="5" style="color:brown;">Ово питање је обавезно!</font></label></p> </div>
    <div class="col-sm">
        <p> Да ли су извршене провере исправности летелице у погледу превоза и транспорта посаде и опреме?</p>
    </div>
    <div class="col-sm">
        <mat-radio-group aria-label="Select an option" style="margin-right: 450px;" [(ngModel)]="mechanicSurvey.p1">
            <mat-radio-button value="YES">ДА</mat-radio-button>
            <mat-radio-button value="NO">НЕ</mat-radio-button>
          </mat-radio-group>
    </div>
  </div>


  <div class="row2">
    <div *ngIf="mustfill"><p style="text-align:center"><label><font size="5" style="color:brown;">Ово питање је обавезно!</font></label></p> </div>
    <div class="col-sm">
        <p>Да ли су извршене све провере у вези исправности опреме и система наоружања?</p>
    </div>
    <div class="col-sm">
        <mat-radio-group aria-label="Select an option" style="margin-right: 450px;" [(ngModel)]="mechanicSurvey.p2">
            <mat-radio-button value="YES">ДА</mat-radio-button>
            <mat-radio-button value="NO">НЕ</mat-radio-button>
          </mat-radio-group>
    </div>
  </div>

  <div class="row3">
    <div *ngIf="mustfill"><p style="text-align:center"><label><font size="5" style="color:brown;">Ово питање је обавезно!</font></label></p> </div>
    <div class="col-sm">
        <p> Да ли је извршена провера исправности летелице у условима ограничења?</p>
    </div>
    <div class="col-sm">
        <mat-radio-group aria-label="Select an option" style="margin-right: 450px;" [(ngModel)]="mechanicSurvey.p3">
            <mat-radio-button value="YES">ДА</mat-radio-button>
            <mat-radio-button value="NO">НЕ</mat-radio-button>
          </mat-radio-group>
    </div>
  </div>

  <div class="row4">
    <div *ngIf="mustfill"><p style="text-align:center"><label><font size="5" style="color:brown;">Ово питање је обавезно!</font></label></p> </div>
    <div class="col-sm">
        <p> Да ли је извршена провера исправности летелице у условима блиске борбе типа Ваздух-Ваздух, Ваздух-Земља?</p>
    </div>
    <div class="col-sm">
        <mat-radio-group aria-label="Select an option" style="margin-right: 450px;" [(ngModel)]="mechanicSurvey.p4">
            <mat-radio-button value="YES">ДА</mat-radio-button>
            <mat-radio-button value="NO">НЕ</mat-radio-button>
          </mat-radio-group>
    </div>
  </div>


  <div class="row5">
    <div *ngIf="mustfill"><p style="text-align:center"><label><font size="5" style="color:brown;">Ово питање је обавезно!</font></label></p> </div>
    <div class="col-sm">
        <p> Да ли је извршена провера исправности летелице у погледу радара и навигационе опреме?</p>
    </div>
    <div class="col-sm">
        <mat-radio-group aria-label="Select an option" style="margin-right: 450px;" [(ngModel)]="mechanicSurvey.p5">
            <mat-radio-button value="YES">ДА</mat-radio-button>
            <mat-radio-button value="NO">НЕ</mat-radio-button>
          </mat-radio-group>
    </div>
  </div>

 
</div>


  <button class="dugme" (click)="Save()">Сачувај</button>
  <button class="dugme" (click)="GiveTermToMechanist()">Потврди</button>




</div>
     
</div>




</div>





  </body>
</html>
