

.center {
    display: block;
    margin-left: left;
    margin-right: auto;
    margin-top: left;
    width: 7%;
  }
  
  .col-sm{
    font-weight: bold;
    text-emphasis-color: white;
    color: white;
    position: absolute;
    nav-right: auto;
    
    
    font-size: 17px;
  }
  
  .dugme{
    width: 35px;
    height: 30px;
    border: none;
    background: none;
  }
  
  
  
  .sort1 {
  
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    position: relative;
    left: 540px;
    top:  130px;
    }
  
   .sort2{
  
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    position: relative;
    left: 50px;
    top:  80px;
  
   }
  
   .sort3{
  
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    position: relative;
    left: 900px;
    top:  80px;
  
   }
  
  
    .sort_dugme1{
      display: block;
  
      outline: none;
      border: none;
      font-size: 17px;
      padding: 6px 14px;
      border-radius: 6px;
      color: white;
      cursor: pointer;
      background: #092c3e;
      transition: all 0.3s ease;
      position: relative;
      left: 720px;
      top:  105px;
  
    
    }
  
    .sort_dugme1:hover{
      transform: scale(0.97);
    }
    #switch:checked ~  .sort_dugme1{
      background: #fff;
      color: #092c3e;
    }
    
  
    .sort_dugme2{
      display: block;
  
      outline: none;
      border: none;
      font-size: 17px;
      padding: 6px 14px;
      border-radius: 6px;
      color: white;
      cursor: pointer;
      background: #092c3e;
      transition: all 0.3s ease;
      position: relative;
      left: 250px;
      top:  55px;
  
    
    }
  
    .sort_dugme2:hover{
      transform: scale(0.97);
    }
    #switch:checked ~  .sort_dugme2{
      background: #fff;
      color: #092c3e;
    }
  
  
    .sort_dugme3{
      display: block;
  
      outline: none;
      border: none;
      font-size: 17px;
      padding: 6px 14px;
      border-radius: 6px;
      color: white;
      cursor: pointer;
      background: #092c3e;
      transition: all 0.3s ease;
      position: relative;
      left: 1230px;
      top:  55px;
  
    
    }
  
    .sort_dugme3:hover{
      transform: scale(0.97);
    }
    #switch:checked ~  .sort_dugme3{
      background: #fff;
      color: #092c3e;
    }
  
  
  
  body{
   
    background-image: url('flota.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 205vh;
    
  }
  
  
  table {
      border-collapse: separate;
      border-spacing: 0;
      color: #4a4a4d;
      font: 14px/1.4 "Helvetica Neue", Helvetica, Ar\ial, sans-serif;
      position: relative;
      top: 120px;
    }
  
    
    th,
    td {
      padding: 10px 15px;
      vertical-align: middle;
      font-weight: bold;
     
        border: none;
        background: none;
      
      
    }
    thead {
      background: #395870;
      /*background: linear-gradient(#49708f, #293f50);*/
      background: #092c3e; 
      color: #fff;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: bold;
    }
    th:first-child {
      border-top-left-radius: 5px;
      text-align: left;
    }
    th:last-child {
      border-top-right-radius: 5px;
    }
    tbody tr:nth-child(even) {
      background: #f0f0f2;
    }
    td {
      border-bottom: 1px solid #cecfd5;
      border-right: 1px solid #cecfd5;
    }
    td:first-child {
      border-left: 1px solid #cecfd5;
    }
   
    tfoot {
      text-align: right;
    }
    tfoot tr:last-child {
      background: #f0f0f2;
      color: #395870;
      font-weight: bold;
      font-size: 15px;
    }
    tfoot tr:last-child td:first-child {
      border-bottom-left-radius: 5px;
    }
    tfoot tr:last-child td:last-child {
      border-bottom-right-radius: 5px;
    }
  